@import './global';

/* Global Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

form {
  width: $full-width;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @include for-tablet-and-wider {
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
  }
}

input {
  display: block;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;

  @include for-tablet-and-wider {
    width: 60%;
    margin-bottom: 0;
  }
}

button {
  border: none;
  padding: 1rem;
  font-size: 1.2em;
  border-radius: 0.2rem;
  cursor: pointer;

  &:hover {
    background-color: #c5c5c5;
  }

  @include for-tablet-and-wider {
    width: 34%;
  }
}

h1 {
  margin: 0;
  line-height: 115%;
}

hr {
  border-top: 1px dotted black;
  width: 100%;
  margin: 7px 0 16px;
}

ul {
  margin: 6px 0 3px;
}

.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}

.presentation {
  width: $full-width;

  @include for-tablet-and-wider {
    width: 70%;
  }
}

.details-bar {
  font-size: 15px;
  margin-top: 10px;
}

.inline-list {
  padding: 0;
  display: inline;

  li {
    display: inline;
    word-break: break-word;

    &::before {
      display: inline-block;
      margin: 0 .5rem .2rem;
      content: "";
      font-size: 1rem;
      line-height: .5rem;
      padding: 1px;
      border-radius: 50%;
      vertical-align: middle;
      background-color: currentColor;
    }

    &:first-child {
      &::before {
        display: none;
      }
    }
  }
}

.pills-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 12px 0;
  padding: 0;

  li {
    border: 1px solid black;
    border-radius: 16px;
    padding: 3px 10px;
    margin: .25rem .5rem .2rem 0;
    font-size: 15px;
    list-style-type: none;
  }
}

.row {
  display: flex;
  flex-direction: column;

  &.row-2 {
    margin-bottom: 20px;

    @include for-tablet-and-wider {
      flex-direction: row;
    }
  }
}

.column {
  width: auto;

  &.col-1 {
    margin-bottom: 7px;

    @include for-tablet-and-wider {
      padding-right: 22px;
    }
  }

  &.col-2 {
    p {
      font-size: 17px;
      margin-top: 0;
      margin-bottom: 22px;
    }
  }

  img#poster {
    width: 100%;
    /* placeholder for image */
    min-height: $image-height-desktop;
    height: auto;

    @include for-tablet-and-wider {
      width: $image-width-desktop; /* hardcoded so layout doesn't shift while image is loading */
    }
  }
}

.loading-wrapper {
  width: 100%;
  // min-height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-gif {
  // width: 50%;
  height: auto;
  object-position: center center;
  object-fit: scale-down;
}

.field-value {
  margin-bottom: 18px;
}

.field {
  font-weight: bold;
  padding-right: 11px;
}

.votes {
  font-size: 14px;
  margin-left: 7px;
}

.cta-placeholder {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-add {
  width: 90%;
  border-radius: 30px;
  background-color: lightseagreen;
}
