@import '../../styles/global';


.fav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.movie-frame {
  border: 1px solid lightgray;
  display: flex;
  align-items: stretch;
  min-height: 200px; /* set height in case no movie image provided */
  width: 48%;
  margin-bottom: 10px;
  position: relative;
  transition: transform 0.2s;

  &:hover {
    border: 1px solid lightseagreen;

    .overlay-container {
      opacity: 1;
    }
  }

  /* for close button wrapper */
  span {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

  @include for-tablet-and-wider {
    width: 24%;
  }
}

.movie-image {
  width: 100%;
  height: auto;
}

.movie-header {
  color: #000000;
  font-weight: 400;
  font-size: 24px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.overlay-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  text-align: center;

  #btn-view {
    background: white;
    border-radius: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;

    &:hover {
      background: lightseagreen;
    }
  }
}
