@import '../../styles/global';

.close-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;

  &:hover {
    background-color: lightseagreen;
  }
}
